@model BaltazarWeb.Models.AuthUserX
@inject AliaaCommon.MongoDB.MongoHelper DB

@{
    ViewData["Title"] = "مدیریت کاربران";
}

<h2>مدیریت کاربران</h2>

<hr />

<div class="row">
    <div class="col-md-3">
        <form asp-action="Manage">
            <div class="form-group">
                کاربر:
                <select asp-for="Id" asp-items="ViewBag.Users" onchange="document.forms[0].submit();"></select>
            </div>
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                نام کاربری:
                <input asp-for="Username" class="form-control" />
                <span asp-validation-for="Username" class="text-danger"></span>
            </div>
            <div class="form-group">
                ادمین است @Html.DisplayFor(m => m.IsAdmin)
            </div>
            <div class="form-group">
                نام:
                <input asp-for="FirstName" class="form-control" />
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                نام خانوادگی:
                <input asp-for="LastName" class="form-control" />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label dir="ltr">
                        <input asp-for="Disabled" /> کاربر غیر فعال
                    </label>
                </div>
            </div>
            <div class="form-group">
                <input type="submit" value="ذخیره" class="btn btn-default" asp-action="SaveUser" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
