@model ManageAccountsViewModel
@inject AliaaCommon.MongoDB.MongoHelper DB

@{
    ViewData["Title"] = "مدیریت کاربران";
}

<h2>مدیریت کاربران</h2>

<hr />

<div class="row">
    <div class="col-md-3">
        <form asp-action="Manage">
            <div class="form-group">
                کاربر:
                <select asp-for="Id" asp-items="ViewBag.Users" onchange="document.forms[0].submit();"></select>
            </div>
            @if (Model != null)
            {
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    نام کاربری:
                    <input asp-for="User.Username" class="form-control" />
                    <span asp-validation-for="User.Username" class="text-danger"></span>
                </div>
                <div class="form-group">
                    @Html.DisplayFor(m => m.User.IsAdmin) ادمین است
                </div>
                <div class="form-group">
                    نام:
                    <input asp-for="User.FirstName" class="form-control" />
                    <span asp-validation-for="User.FirstName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    نام خانوادگی:
                    <input asp-for="User.LastName" class="form-control" />
                    <span asp-validation-for="User.LastName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <div>
                        <label>
                            <input asp-for="User.Disabled" /> کاربر غیر فعال
                        </label>
                    </div>
                </div>
                <div class="form-group">
                    <div>اجازه ها:</div>
                    <div asp-checkboxlist="Model.Permissions" asp-modelname="Permissions"></div>
                </div>
                <div class="form-group">
                    <input type="submit" value="ذخیره" class="btn btn-default" asp-action="SaveUser" />
                </div>
            }
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
