@model BaltazarWeb.Models.City
@inject AliaaCommon.MongoDB.MongoHelper DB

@{
    ViewData["Title"] = "ویرایش شهر";
}

<h2>ویرایش شهر</h2>

<h4>City</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProvinceId" class="control-label"></label>
                @Html.DropDownListFor(c => c.ProvinceId, DB.All<Province>()
                    .Select(p => new SelectListItem(p.Name, p.Id.ToString())))
            </div>
            <div class="form-group">
                <input type="submit" value="ذخیره" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">برگشت به لیست</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
