@model BaltazarWeb.Models.BaltazarQuestion

@{
    ViewData["Title"] = "افزودن سوال بالتازار";
}

<h2>افزودن سوال بالتازار</h2>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Add" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                حداقل مقطع
                <input asp-for="Grade" class="form-control" />
                <span asp-validation-for="Grade" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MaxGrade" class="control-label"></label>
                <input asp-for="MaxGrade" class="form-control" />
                <span asp-validation-for="MaxGrade" class="text-danger"></span>
            </div>
            <div class="form-group">
                @Html.CheckBoxFor(q => q.AllowUploadOnAnswer)
                <label asp-for="AllowUploadOnAnswer" class="control-label"></label>
            </div>
            <div class="form-group">
                <label asp-for="ExpireDate" class="control-label"></label> (میلادی)
                <input asp-for="ExpireDate" class="form-control" />
                <span asp-validation-for="ExpireDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Prize" class="control-label"></label>
                <input asp-for="Prize" class="form-control" value="5" />
                <span asp-validation-for="Prize" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Text" class="control-label"></label>
                <textarea asp-for="Text" class="form-control"></textarea>
                <span asp-validation-for="Text" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ImageFile" class="control-label"></label>
                <input asp-for="ImageFile" class="form-control" />
            </div>
            <div class="form-group">
                <input type="submit" value="ایجاد" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">برگشت به لیست</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
