@model BaltazarWeb.Models.ContactUsMessage

@{
    ViewData["Title"] = "Index";
}

<h2>تماس با ما</h2>

<p>لطفا نظرات و پیشنهادات خود را با ما درمیان بگذارید.</p>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Index">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Message" class="control-label"></label>
                <textarea asp-for="Message" class="form-control" style="height:100px;"></textarea>
                <span asp-validation-for="Message" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="ارسال" class="btn btn-default" />
            </div>
        </form>
        <p>
            @ViewBag.Message
        </p>
    </div>
</div>
